/.venv
/__pycache__
/*/__pycache__
/*/*/__pycache__
/ultralytics/*/__pycache__
/ultralytics/*/*/__pycache__
/ultralytics/*/*/*/__pycache__
/app/static/annotated/*
/app/static/uploads/*
/app/static/videos/*
/app/static/images/*
/app/static/results/*

# 用户头像（运行时数据）
/static/avatars/*